{% extends 'base.html' %}


{% block content %}
    <div class="px-5 py-4">
        <div class="d-flex justify-content-between">
            <h3>categories list</h3>
            
            <a href="{% url "products:None" %}" class="btn btn-dark">create</a>
            
        </div>
        <table class="table">
            <thead>
                <tr>
                    <td>id</td>
                    <td>name</td>
                    
                </tr>
            </thead>
            <tbody class="table-group-divider">
                
                {% for categorie in categories %}
                    <tr>
                        <td>{{ categorie.id }}</td>
                        <td>
                            <a href="{% url "products:None" categorie.pk %}">{{ categorie.name }}</a>
                        </td>
                        
                    </tr>
                {% endfor %}
            </tbody>
        </table>

    </div>
{% endblock %}