{% extends 'base.html' %}


{% block content %}
<div class="py-4 px-5">
    [# if list_path_name #]
    <a href="{% url "[[ list_path_name ]]" %}"><- list</a>
    [# endif #]
    <h3>[[ item ]] detail</h3>
    <div class="card card-body w-50">
        <dl class="row">
            [# for field in fields #]
                <dt class="col-sm-2">[[ field ]]</dt>
                <dd class="col-sm-10">{{ [[ item ]].[[ field ]] }}</dd>
            [# endfor #]
        </dl>
        [# if update_path_name #]
            <a href="{% url "[[ update_path_name ]]" [[ item ]].pk %}">edit</a>
        [# endif #]
    </div>
</div>
{% endblock %}
