{% extends 'base.html' %}


{% block content %}
    <div class="px-5 py-4">
        <h3>[[ items ]] list</h3>
        <a href="{% url 'posts:create' %}">create</a>

        <table class="table">
            <thead>
                <tr>[# for field in fields #]
                    <td>[[ field ]]</td>[# endfor #]
                </tr>
            </thead>
            <tbody class="table-group-divider">
                [[ body_fields ]]
                {% for [[ item ]] in [[ items ]] %}
                    <tr>[# for field in fields #]
                        <td>{{ [[ item ]].[[ field ]] }}</td>[# endfor #]</tr>
                {% endfor %}
            </tbody>
        </table>

    </div>
{% endblock %}
