:root {
  --vp-c-green: rgb(70, 70, 70);
  --vp-c-green-light: rgba(155, 155, 155, 0.37);
  --vp-c-green-lighter: #b6b6b6;
  --vp-c-green-dark: #181818;
  --vp-c-green-darker: #282828;
  --vp-c-green-dimm-1: rgba(44, 44, 44, 0.05);
  --vp-c-green-dimm-2: rgba(80, 80, 80, 0.2);
  --vp-c-green-dimm-3: rgba(40, 40, 40, 0.5);
}

